.img-content-div img {
  background-size: cover;
}

.img-content-div {
  position: relative;
  color: #f72210;
  font-weight: 750;
}

.content-type-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.85;
  margin: 0;
  padding: 0.25rem;
  color: black;
  z-index: 5;
}

.content-type-black {
  color: black;
}

.content-type-blue {
  color: #3d86f4;
}

.content-type {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  opacity: 0.85;
  margin: 0;
  padding: 0.5rem;
  z-index: 5;
}

.first-article-img {
  height: 19rem;
}

.logo-div {
  margin: 0 auto;
}

.form-text {
  padding: 0.3rem 0 0.5rem 0;
  margin: 0;
}

.cover15-img {
  width: 10.5rem;
  position: absolute;
  top: 5%;
  left: 40%;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.free-sign-section img,
.logo-div img {
  width: 2rem;
}

.first-debate-div {
  border-bottom: 3px double rgb(207, 207, 207);
  position: relative;
  height: 2rem;
}

.vs-span {
  position: absolute;
  bottom: -70%;
  left: 46%;
}

.back-image-div {
  background-image: url("./assets/starting5-homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.links-list-1 a {
  text-decoration: none;
  color: black;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.links-list-2 a {
  text-decoration: none;
  color: #6c757d;
  transition-property: color;
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
}

.links-list-1 a:hover,
.links-list-2 a:hover {
  color: #dc3545;
}

@keyframes logo-rotation {
  100% {
    transform: rotate(360deg);
  }
}

#top-icon {
  animation-name: logo-rotation;
  animation-duration: 5s;
  display: inline-block;
}

img:hover {
  z-index: 10;
  position: relative;
  transform: scale(1.1);
}

button:hover {
  transform: scale(1.1);
}

.fa-bars,
.fa-user {
  display: inline-block;
  transition-property: color, margin;
  transition-duration: 1s;
  text-align: center;
  border-radius: 25%;
}

.fa-bars:hover,
.fa-user:hover {
  color: rgb(125, 206, 4);
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .first-column-main,
  .third-column-main {
    width: 27.766666666%;
  }

  .second-column-main {
    width: 44.4666666%;
  }

  .back-image-div {
    height: 25rem;
  }
}

@media only screen and (max-width: 768px) {
  .si-article {
    width: 100%;
    margin: auto;
  }

  .my-turn-section .row,
  .culture-travel-section .row {
    flex-direction: column;
  }

  .free-sign-section {
    width: 20rem;
  }

  .first-article-img {
    height: auto;
  }

  .floating-img {
    width: 40%;
  }

  .back-image-div {
    width: auto;
    height: 170px;
  }
}
